html, body {
    background-color: #EEF8FE;;
}

.about-intro, .about-mission, .about-team, .about-values, .about-partners, .about-contact {
    padding: 0;
    text-align: justify;
}

.about-team .card, .about-partners .card {
    margin-bottom: 12px;
}
.map-container iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.about-partners h3, .about-partners highlight{
    text-align: center;
    margin-bottom: 15px;
}

.about-partners h2 {
    margin-bottom: 20px;
}

.partner-img {
    height: 200px;
    width: auto;
    object-fit: cover;
    padding: 15px;
}

.highlight {
    color: #136ACC;
    font-weight: bold;
    font-size: 1.2em;
}

.about-partners p, .about-contact p {
    font-size: 20px;
}

.team-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
