body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D3EAF5;
}

#formrg {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #AADDF5;
}

header {
    background-color: #007bff; /* Adjust the header background color if needed */
}

footer {
    background-color: #343a40; /* Dark background for the footer */
}

footer a {
    color: #007bff;
    text-decoration: none;
}

.text-link-cnt {
    color: #ffffff; /* White color for footer links */
}

.text-link-cnt:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px); /* Full height minus header and footer */
}

h1 {
    color: #057539;
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}
/* CSS for input fields */
.form-control {
    background-color: #EEEEEE; /* Light grey color */
    border: 1px solid #ced4da; /* Border color */
    color: #787C81; /* Text color */
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-control::placeholder {
    color: #6c757d; /* Placeholder text color */
    opacity: 1; /* Fully opaque placeholder text */
}

.form-control:focus {
    background-color: #e6e6e6; /* Slightly darker grey when focused */
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
