<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact us</h4>
        <p>Email: support_relaxaria@gmail.com</p>
        <p>Phone: +8 (701) 787-31-71</p>
        <p>Address: 34/1 Manas Street</p>
      </div>
      <div class="col-md-4" style="padding-left: 10px; padding-right: 10px">
        <h4>Follow us</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-link-cnt"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="#" class="text-link-cnt"><i class="fab fa-facebook-square"></i> Facebook</a></li>
          <li><a href="#" class="text-link-cnt"><i class="fa fa-twitter"></i> X</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="list-unstyled">
          <li><a class="text-link-cnt" th:href="@{/mt_care/relaxaria_welcome}">Home</a></li>
          <li ><a class="text-link-cnt" th:href="@{/mt_care/requestherapy}">Therapy sessions</a></li>
          <li><a class="text-link-cnt" th:href="@{/mt_care/about}">About us</a></li>
          <li><a class="text-link-cnt" th:href="@{/mt_care/blogpost}">Blog posts</a></li>
          <li><a class="text-link-cnt" th:href="@{/mt_care/professionals}">Professional</a></li>
        </ul>
      </div>
    </div>
    <p class="mt-4">Need help? Visit our <a href="https://iitu.edu.kz/ru/" class="text-primary">Help Center</a>.</p>
    <p>&copy; 2024 Relaxaria. All Rights Reserved.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa5DcH+a2uDklH/7KgNfRov9p" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
