<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Professionals</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/professn.css">
</head>
<body>
<div class="container-fluid p-0">

  <div th:replace="fragments/header :: header"></div>

  <!-- Main Content -->
  <main class="container py-5">
    <h1 class="mb-4 text-center">Our Medical Specialists</h1>

    <!-- Search Filters -->
<!--    <div class="row mb-4">-->
<!--      <div class="col-md-4">-->
<!--        <input type="text" id="searchTitle" class="form-control" placeholder="Search by Job Title">-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <input type="text" id="searchLocation" class="form-control" placeholder="Search by Location">-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <input type="text" id="searchExperience" class="form-control" placeholder="Search by Experience">-->
<!--      </div>-->
<!--    </div>-->

    <div class="row mb-4">
      <div class="col-md-4">
        <input type="text" id="searchTitle" class="form-control" placeholder="Search by Job Title">
      </div>
      <div class="col-md-4">
        <input type="text" id="searchLocation" class="form-control" placeholder="Search by Location">
      </div>
      <div class="col-md-4">
        <input type="text" id="searchExperience" class="form-control" placeholder="Search by Experience">
      </div>
    </div>

    <!-- Specialists Cards -->
    <div class="row" id="specialists">
      <!-- Example of a Specialist Card -->
      <div class="col-md-4 specialist" data-title="Psychiatrist" data-location="New York" data-experience="10">
        <div class="card">
          <img class="card-img-top" src="/imgs/psychiatrist_ph1.webp" alt="Specialist Ph1">
          <div class="card-body">
            <h5 class="card-title">Yeshmetova Barno Kamalzhanovna</h5>
            <p class="card-text"><strong>Job Title:</strong> Psychotherapist</p>
            <p class="card-text"><strong>Location:</strong> Almaty</p>
            <p class="card-text"><strong>Experience:</strong> 9 years</p>
            <button class="btn btn-primary btn-block" onclick="toggleExtraInfo(this)">More Info <i class="fas fa-arrow-down"></i></button>
            <div class="extra-info mt-3">
              <p class="card-text"><strong>Contact:</strong> yeshmetova_ba@gmail.com</p>
              <p><strong>Age:</strong> 35</p>
              <p><strong>Medical Institution:</strong> Spine Rehabilitation Clinic</p>
              <p>46 Gagarin Avenue</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 specialist" data-title="Psychiatrist" data-location="New York" data-experience="10">
        <div class="card">
          <img class="card-img-top" src="/imgs/psychiatr_ph2.webp" alt="Specialist Ph2">
          <div class="card-body">
            <h5 class="card-title">Kozyrev Kirill Sergeevich</h5>
            <p class="card-text"><strong>Job Title:</strong> Psychiatrist</p>
            <p class="card-text"><strong>Location:</strong> Almaty</p>
            <p class="card-text"><strong>Experience:</strong> 7 years</p>
            <button class="btn btn-primary btn-block" onclick="toggleExtraInfo(this)">More Info <i class="fas fa-arrow-down"></i></button>
            <div class="extra-info mt-3">
              <p class="card-text"><strong>Contact:</strong> kozyrev_ki@gmail.com</p>
              <p><strong>Age:</strong> 32</p>
              <p><strong>Medical Institution:</strong> Gastroclinic Medical Center</p>
              <p>19 Sholom Aleichem</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 specialist" data-title="Psychiatrist" data-location="New York" data-experience="10">
        <div class="card">
          <img class="card-img-top" src="/imgs/psychiatr_ph3.webp" alt="Specialist ph3">
          <div class="card-body">
            <h5 class="card-title">Zhunusova Adiya Yerbolovna</h5>
            <p class="card-text"><strong>Job Title:</strong> Clinical psychologist</p>
            <p class="card-text"><strong>Location:</strong> Almaty</p>
            <p class="card-text"><strong>Experience:</strong> 10 years</p>
            <button class="btn btn-primary btn-block" onclick="toggleExtraInfo(this)">More Info <i class="fas fa-arrow-down"></i></button>
            <div class="extra-info mt-3">
              <p class="card-text"><strong>Contact:</strong> zhunusova_ad@gmail.com</p>
              <p><strong>Age:</strong> 37</p>
              <p><strong>Medical Institution:</strong> Free Life Medical Center</p>
              <p>16 Nurly Zhol</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </main>

  <div th:replace="fragments/footer :: footer"></div>
</div>

<script>
  function toggleExtraInfo(button) {
    const extraInfo = button.nextElementSibling;
    extraInfo.classList.toggle('show');
  }

  document.getElementById('searchTitle').addEventListener('keyup', function() {
    filterSpecialists();
  });

  document.getElementById('searchLocation').addEventListener('keyup', function() {
    filterSpecialists();
  });

  document.getElementById('searchExperience').addEventListener('keyup', function() {
    filterSpecialists();
  });

  function filterSpecialists() {
    const titleFilter = document.getElementById('searchTitle').value.toUpperCase();
    const locationFilter = document.getElementById('searchLocation').value.toUpperCase();
    const experienceFilter = document.getElementById('searchExperience').value.toUpperCase();
    const specialists = document.getElementById('specialists').getElementsByClassName('specialist');

    for (let i = 0; i < specialists.length; i++) {
      const title = specialists[i].querySelector(".card-text:nth-of-type(1)").innerText.toUpperCase();
      const location = specialists[i].querySelector(".card-text:nth-of-type(2)").innerText.toUpperCase();
      const experience = specialists[i].querySelector(".card-text:nth-of-type(3)").innerText.toUpperCase();

      if (title.includes(titleFilter) && location.includes(locationFilter) && experience.includes(experienceFilter)) {
        specialists[i].style.display = "";
      } else {
        specialists[i].style.display = "none";
      }
    }
  }

  // function toggleExtraInfo(button) {
  //   const extraInfo = button.nextElementSibling;
  //   extraInfo.classList.toggle('show');
  // }
  //
  // document.getElementById('searchTitle').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // document.getElementById('searchLocation').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // document.getElementById('searchExperience').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // function filterSpecialists() {
  //   const titleFilter = document.getElementById('searchTitle').value.toUpperCase();
  //   const locationFilter = document.getElementById('searchLocation').value.toUpperCase();
  //   const experienceFilter = document.getElementById('searchExperience').value.toUpperCase();
  //   const specialists = document.getElementById('specialists').getElementsByClassName('specialist');
  //
  //   for (let i = 0; i < specialists.length; i++) {
  //     let title = specialists[i].getAttribute('data-title').toUpperCase();
  //     let location = specialists[i].getAttribute('data-location').toUpperCase();
  //     let experience = specialists[i].getAttribute('data-experience').toUpperCase();
  //     if (title.indexOf(titleFilter) > -1 && location.indexOf(locationFilter) > -1 && experience.indexOf(experienceFilter) > -1) {
  //       specialists[i].style.display = "";
  //     } else {
  //       specialists[i].style.display = "none";
  //     }
  //   }
  // }
  // function toggleExtraInfo(button) {
  //   const extraInfo = button.nextElementSibling;
  //   extraInfo.classList.toggle('show');
  // }
  //
  // document.getElementById('searchTitle').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // document.getElementById('searchLocation').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // document.getElementById('searchExperience').addEventListener('keyup', function() {
  //   filterSpecialists();
  // });
  //
  // function filterSpecialists() {
  //   const titleFilter = document.getElementById('searchTitle').value.toUpperCase();
  //   const locationFilter = document.getElementById('searchLocation').value.toUpperCase();
  //   const experienceFilter = document.getElementById('searchExperience').value.toUpperCase();
  //   const specialists = document.getElementById('specialists').getElementsByClassName('specialist');
  //
  //   for (let i = 0; i < specialists.length; i++) {
  //     let title = specialists[i].getAttribute('data-title').toUpperCase();
  //     let location = specialists[i].getAttribute('data-location').toUpperCase();
  //     let experience = specialists[i].getAttribute('data-experience').toUpperCase();
  //     if (title.indexOf(titleFilter) > -1 && location.indexOf(locationFilter) > -1 && experience.indexOf(experienceFilter) > -1) {
  //       specialists[i].style.display = "";
  //     } else {
  //       specialists[i].style.display = "none";
  //     }
  //   }
  // }
</script>

</body>
</html>
